img {
    height: 92px;
    width: 272px;
}
#img{
    text-align: center;
}
#search:hover {
    box-shadow: 0px 0px 6px 0px #D6D6D6;
    border-style: none;
}

#search{
    border-radius: 24px;
    width: 500px;
    height: 40px;
    border-width: 0.1px;
    border-color: #D6D6D6;
    margin : 10px;
    border-style : solid;
}

#M {
    border-radius: 50%;
    background-color: green;
    color : white;
    width: 150px;
    height: 150px;
}

a {
    text-decoration: none;
    color : #0F0F0F;
}

a:hover {
    text-decoration: underline;
}

#M:hover {
    text-decoration: none;
    box-shadow: 0px 0px 10px 0px #D6D6D6;
}

button{
    background-color: #f8f9fa;
    border-style : none;
    border-radius: 4px;
    width: 140px;
    height: 35px;
    color : rgb(75, 75, 75);
}