img {
    height: 92px;
    width: 272px;
}
#img{
    text-align: center;
}
#search:hover {
    box-shadow: 0px 0px 6px 0px #D6D6D6;
    border-style: none;
}

#search{
    border-radius: 24px;
    width: 500px;
    height: 40px;
    border-width: 0.1px;
    border-color: #D6D6D6;
    margin : 10px;
    border-style : solid;
}

#M {
    border-radius: 50%;
    background-color: green;
}