header{
    position: absolute;
    top : 15;
    right: 20;
}
a{
    text-decoration: none;
    color : #303030;
    
}

a:hover {
    text-decoration: underline;
}

#M {
    border-radius: 50%;
    background-color: rgb(6, 151, 127);
    color : white;
    width: 32px;
    height: 32px;
    font-family: sans-serif;
    font-weight: 80;
    font-size: 17px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    margin: 0 0px 0 9px;
}

#App{
    width: 32px;
    height: 32px;
    margin: 0px 5px 0 15px;
    opacity: 0.6;
}

#images{
    margin: 0 6px 0 12px;
    font-size: 13px;
    font-family: arial;
}

#gmail {
    font-size: 13px;
    font-family: arial;
}
#App:hover{
    box-shadow: 0px 0px 0px 9px #e4e4e4;
    border-radius: 50%;
    background-color: #e4e4e4;
}
#M:hover {
    text-decoration: none;
    box-shadow: 0px 0px 0px 4px #e4e4e4;
}



#google{
    position: absolute;
    top : 28%;
    left : 40.5%;
}



#searchbar{
    position: relative;
    top : 41%;
    left : 29%;
    width : 582px;
}


#loupe{
    position: absolute;
    left: 4.5%;
    top: 23px;
    height : 19px; 
    width : 19px;
    opacity: 0.4;
}

#mic{
    position: absolute;
    left: 95%;
    top: 21px;
    height : 25px; 
    width : 25px;
}

#search:hover {
    box-shadow: 0px 0px 6px 0px #D6D6D6;
    border-style: none;
}

#search{
    border-radius: 24px;
    width: 582px;
    height: 45px;
    border-width: 0.1px;
    border-color: #f1f1f1;
    margin : 10px;
    border-style : solid;
    padding-left: 40px;
}







#boutons{
    Position: relative;
    top : 43%;
    left : 39.5%;
    width : 300px;
}

button{
    background-color: #f8f9fa;
    border-style : none;
    border-radius: 4px;
    width: 135px;
    height: 35px;
    color : rgb(70, 70, 70);
    font: arial;
    margin: 4px;
    font-size: 14px;
}

button:hover{
    border : solid;
    border-color: rgb(226, 226, 226);
    border-width : 0.1px;
    cursor: pointer;
}

